@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.svg#SourceSansPro') format('svg'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.svg#SourceSansPro') format('svg'),
         url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


html, body, h1, h2, p {
    font-size: 14px;
}

@import "Lattice/core.scss";
@import "Lattice/grid.scss";
// @import "Lattice/forms.scss";
// @import "Lattice/buttons.scss";
@import "Lattice/typography.scss";


h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

#event-header {
    text-align: left !important;
    background: #333;
    color: #fff;
}

#event div {
    padding: 6px;
}
row:nth-child(odd) {
    background: #eee;
}

#event-header span:hover {
    cursor:pointer;
}

#main-header {
    background: #C11724;
    height: 50px;
    line-height: 50px;
}
    #main-header img{
        vertical-align: middle;
    }

