header#main-header
	.container
		a(href='http://kompiler.no').column
			img(src='images/kompiler.png')
		nav#main-navigation.inline-block.column
			ul
				li.inline-block.column.no-left-padding
					a(href='') Arrangementer
				li.inline-block.column
					a(href='') Om Kompiler
